@media (max-width: 1024px) {
    .header-text {
        font-size: 1.5rem;
        color: black;
    }
}
  
@media (max-width: 768px) {
    .header-text {
        font-size: 2.5rem;
        color: pink;
    }
}

@media (min-width: 768px) {
    .component {
      display: flex;
    }
}

.component {
  background-color: #FAF8F5 !important;
  min-height: 100vh;
}

.component-content {
  flex: 1;
  background-color: #0da7e4;
}