@media (max-width: 1024px) {
    .header-text {
        font-size: 1.5rem;
        color: black;
    }
}
  
@media (max-width: 768px) {
    .header-text {
        font-size: 2.5rem;
        color: pink;
    }
}

@media (min-width: 768px) {
    .component {
      display: flex;
    }
}

.component {
  background-color: #FAF8F5 !important;
  min-height: 100vh;
}

.component-content {
  flex: 1;
  background-color: #0da7e4;
}

.flex {
  flex: 1;
}




/* Buttons  */
.blue-btn {
  margin-top: 0.5rem;
  color: #fff;
  font-weight: 600;
  background-color: #8000FF;
  width: 100%;
  height: 3rem;
  border-radius: 0.3rem;
  border: none;
}


.gray-btn {
  width: 100%;
  height: 3rem;
  background-color: #fff;
  color: #2E3842;
  border: 2px solid #2E3842;
  border-radius: 4px;
  margin-top: 0.5rem;
  cursor: pointer;
  
}
