/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 481px) {
    .login-cover {
        display: none;
    }
}
      
.login-cover {
    width: 50%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg');
    background-size: cover;
}

